<template>
  <div>
    <div class="chart-content">
      <svg viewBox="0 0 100 100">
        <circle stroke="#e5e5e5" stroke-width="5.5" cx="50" cy="50" r="30" fill="none"/>
        <circle :stroke="primaryColor" stroke-width="5.5" cx="50" cy="50" r="30" fill="none"
                :style="{ strokeDashoffset: circleOffset + '%' }"/>
        <text :fill="primaryColor" class="chart-text" x="50" y="50" text-anchor="middle" dominant-baseline="middle">
          {{ animatedValue }}%
        </text>
      </svg>
    </div>

    <input type="number" v-model="value" min="0" max="1" step="0.01">
  </div>
</template>

<script>
export default {
  props: {
    valueProp: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      primaryColor: `hsl(${this.value * 100}, 100%, 50%)`,
      value: '0',
      circleOffset: 0,
      animatedValue: 0
    };
  },
  methods: {
    handleRangeInput() {
      const progressValue = Math.round(this.value * 100);
      this.animatedValue = progressValue;
      this.circleOffset = 189 - (progressValue * 1.89);
    },
  },
  watch: {
    value(newVal) {
      this.value = newVal < 0 ? 0 : newVal > 1 ? 1 : newVal

      this.primaryColor = `hsl(${newVal * 100}, 100%, 50%)`
      this.handleRangeInput();
    },
  },
  mounted() {
    setTimeout(() => {
      this.value = this.valueProp
    }, 0)
    this.handleRangeInput();
  },
};
</script>

<style>

.chart-content svg {
  width: 300px;
}

.chart-text {
  transform-origin: center;
  transform: rotate(90deg);
}

svg {
  transform: rotate(-90deg);
}

circle {
  stroke-linecap: round;
  transition: all 0.6s;
  stroke-dasharray: 189;
}
</style>
