<template>
  <div id="app">
    <CircleChart :valueProp="0.4"/>
    <CircleChart :valueProp="0.7"/>
  </div>
</template>

<script>
import CircleChart from './components/CircleChart.vue'

export default {
  name: 'App',
  components: {
    CircleChart
  }
}
</script>

<style>
  body{
    background-color: purple;
  }
</style>